/* .imageContainer {
} */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5f6fa;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  height: 50px;
  padding: 20px 0;
  background-color: #12cbc4;
  position: fixed;
  top: 0;
  width: 100%;
}

.header .header-wrapper {
  display: flex;
  justify-content: center;
}

.header .header-wrapper form {
  width: 800px;
  display: flex;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.header .header-wrapper form .input-component {
  width: 50%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border-color: #0652dd;
  font-weight: 700;
  color: #0652dd;
}

.header .header-wrapper form .select-component {
  width: 30%;
  height: 36px;
  margin: 0 auto;
  border-color: #0652dd;
  border-width: 2px;
  color: #0652dd;
  font-weight: 700;
}

.header .header-wrapper form .submit-component {
  width: 15%;
  height: 36px;
  background-color: #0652dd;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  font-weight: 700;
}

.empty-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.empty-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 100px 0 20px;
  min-height: 800px;
}

.content .image-card-container {
  background-color: #fff;
  min-height: 250px;
  padding: 10px;
  border-radius: 10px;
}

.content .image-card-container:hover {
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 1);
  -moz-box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 1);
  box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 1);
}

.content .image-card-container img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.content .image-card-container h4,
p {
  margin: 0 0 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0652dd;
}

.footer .content-footer {
  display: flex;
  justify-content: center;
}

.footer h5 {
  color: #fff;
  margin: 10px 0;
}

/* OLD */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* Separating Column */
/* Design for desktop */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 31%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* Design for mobile */
  [class*="col-"] {
    width: 100%;
  }
}
