/* .imageContainer {
} */

.searchInputContainer {
  height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.content_input {
  height: 30px;
  width: 50%;
  padding: 0 10px;
}

.imgCard {
  max-height: 300px;
  padding: 10px;
}

.content_image {
  height: 200px;
}

.content_title {
  margin: 20px 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 20px; /* fallback */
  max-height: 20px;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* Separating Column */
/* Design for desktop */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* Design for mobile */
  [class*="col-"] {
    width: 100%;
  }
}
